# =========================
# Gradle
# =========================
.gradle
build/
!build/libs/*.jar

# =========================
# IDE
# =========================
.idea
*.iml
out/

# =========================
# OS
# =========================
.DS_Store

# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Test / Docs
# =========================
src/test/
build/generated-snippets/
src/main/resources/static/docs/

# =========================
# Secret / Env
# =========================
.env
*.env
application-secret.properties
