DB_URL=jdbc:postgresql://localhost:5432/nookDB
DB_USERNAME=nook
DB_PASSWORD=nook1234
JPA_DDL_AUTO=validate
REDIS_HOST=localhost
R2_ENDPOINT=https://example.r2.cloudflarestorage.com
R2_PUBLIC_BUCKET_NAME=change-me
R2_PRIVATE_BUCKET_NAME=change-me
R2_CDN_BASE_URL=https://pub-example.r2.dev
R2_ACCESS_KEY=change-me
R2_SECRET_KEY=change-me
JWT_SECRET=change-me
ALADIN_BASE_URL=https://www.aladin.co.kr/ttb/api
ALADIN_TTB_KEY=change-me
KAKAO_CLIENT_ID=change-me
KAKAO_CLIENT_SECRET=change-me
KAKAO_REDIRECT_URI=http://localhost:8080/api/v1/auth/kakao/callback
KAKAO_ADMIN_KEY=change-me
KAKAO_LOGOUT_REDIRECT_URI=http://localhost:8080
GOOGLE_REDIRECT_URI=http://localhost:8080/api/v1/auth/google/callback
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
TOKEN_REQUEST_URI=https://oauth2.googleapis.com/token
MEMBER_INFO_REQUEST_URI=https://openidconnect.googleapis.com/v1/userinfo
