# Gradle
.gradle/
build/

# REST Docs
build/generated-snippets/

# Static resources
src/main/resources/static/docs/*.html

/src/main/resources/application-secret.properties

# Server environment secrets
.env
.env.dev
.env.prod
.env.monitoring
data/certbot/
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
*.tfvars
!*.tfvars.example

db/postgres

# IDE
.idea/
*.iml
out/

# OS
.DS_Store
