GF_SECURITY_ADMIN_USER=nook-admin
GF_SECURITY_ADMIN_PASSWORD=change-me-before-use
REDIS_EXPORTER_ADDRESS=redis://host.docker.internal:6379
POSTGRES_EXPORTER_URI=host.docker.internal:5432/nookDB?sslmode=disable
POSTGRES_EXPORTER_USER=nook
POSTGRES_EXPORTER_PASSWORD=change-me-before-use
POSTGRES_EXPORTER_COLLECTION_TIMEOUT=10s
